* {
    padding: 0;
    margin: 0;
}

.grid_1_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.tasklist {
    border: 1px solid black;
}

#tasks, #tasks_done {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}